.open-modal-button{
    cursor: pointer;
    border: none;
    background: none;
   

}

.modal-overlay{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    height: 100vh;
    position: relative;
    

}

.close-button{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24;
    cursor: pointer;
    background: #261B6C;
    padding: 5px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    width: 10%;
}