* {
    margin: 0;
    padding: 0;
    transition: all 3s ease-in-out;
    font-family: Avenir Lt Std;
}

#contact {
    margin: 0px 30px;
    position: relative;

    .contact-img {
        img {
            width: 100%;
        }
    }

    .conta {
        display: flex;
        align-items: center;
        background: linear-gradient(360deg, #000 20%, transparent);
        justify-content: space-between;
        padding: 0px 20px;
        position: absolute;
        bottom: 0px;
        width: 96.88%;

        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #fff;
            font-size: 35px;
        }
    }
}

#factories {
    margin: 180px 30px;
    background: #F7F5E8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px 80px;

    .harare,
    .bulawayo {
        img {
            width: 100%;
        }
    }

    .bwyo-text,
    .hre-text {
        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 25px;
            margin: 10px 0px;
        }

        p {
            color: #261B6C;
            font-weight: 700;
        }

        .dials {
            p {
                margin: 20px 0px;
                color: #261B6C;
                font-weight: 700;
            }
        }
    }
}

#job {
    background: #F7F5E8;

    .enqiure {
        margin: 40px 60px;
        padding: 50px 0px;

        img {
            width: 100%;
        }
    }

    .general {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 230px;
        margin: 0px 80px;
        padding: 20px 0px 60px 0px;

        a {
            color: #261B6C;
        }

        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 25px;
            margin: 0px 0px;
        }
    }
}

#tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-weight: 800;
        font-family: Montserrat;
        color: #261B6C;
        font-size: 30px;
        margin: 10px 0px;
    }

    table {
        margin: 30px;

        thead {
            tr {
                th {
                    border-bottom: #261B6C 2px solid;
                    border-left: #261B6C 2px solid;
                    color: #261B6C;
                    font-size: 25px;
                    padding: 10px;

                }

                .depot {
                    border-left: none;
                }
            }
        }

        tbody {
            tr {
                td {
                    color: #261B6C;
                    padding: 10px;

                }

                .hwange1,
                .hwange2,
                .hwange3 {
                    padding-top: 40px;
                }
            }

            color: #261B6C;
        }
    }
}

#fallback {
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-weight: 800;
        font-family: Montserrat;
        color: #261B6C;
        font-size: 30px;
        margin: 20px 0px;
    }

    p {
        color: #261B6C;
        font-size: 20px;

    }

    form {
        .tittle {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;

            select {
                width: 50%;
                padding: 10px 0px;

                option {
                    width: 100%;

                }
            }

        .your{
            width: 100%;
            input {
                width: 50%;
                padding: 10px 20px;
            }
        }
         


        }

        .fonNumber {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;
            width: 100%;

            // width: 100%;
            .hone, .ail{
                width: 100%;
                input {
                    width: 50%;
                    padding: 10px 20px;
                }
            }
        


        }
    }

}

@media(max-width:1440px) {
    * {
        margin: 0;
        padding: 0;
        transition: all 3s ease-in-out;
        font-family: Avenir Lt Std;
    }

    #contact {
        margin: 0px 30px;
        position: relative;

        .contact-img {
            img {
                width: 100%;
            }
        }

        .conta {
            display: flex;
            align-items: center;
            background: linear-gradient(360deg, #000 20%, transparent);
            justify-content: space-between;
            padding: 0px 20px;
            position: absolute;
            bottom: 0px;
            width: 96.88%;

            h2 {
                font-weight: 800;
                font-family: Montserrat;
                color: #fff;
                font-size: 35px;
            }
        }
    }

    #factories {
        margin: 180px 30px;
        background: #F7F5E8;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 40px 80px;

        .harare,
        .bulawayo {
            img {
                width: 100%;
            }
        }

        .bwyo-text,
        .hre-text {
            h2 {
                font-weight: 800;
                font-family: Montserrat;
                color: #261B6C;
                font-size: 25px;
                margin: 10px 0px;
            }

            p {
                color: #261B6C;
                font-weight: 700;
            }

            .dials {
                p {
                    margin: 20px 0px;
                    color: #261B6C;
                    font-weight: 700;
                }
            }
        }
    }

    #job {
        background: #F7F5E8;

        .enqiure {
            margin: 40px 60px;
            padding: 50px 0px;

            img {
                width: 100%;
            }
        }

        .general {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 230px;
            margin: 0px 80px;
            padding: 20px 0px 60px 0px;

            a {
                color: #261B6C;
            }

            h2 {
                font-weight: 800;
                font-family: Montserrat;
                color: #261B6C;
                font-size: 25px;
                margin: 0px 0px;
            }
        }
    }

    #tables {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 30px;
            margin: 10px 0px;
        }

        table {
            margin: 30px;

            thead {
                tr {
                    th {
                        border-bottom: #261B6C 2px solid;
                        border-left: #261B6C 2px solid;
                        color: #261B6C;
                        font-size: 25px;
                        padding: 10px;

                    }

                    .depot {
                        border-left: none;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: #261B6C;
                        padding: 10px;

                    }

                    .hwange1,
                    .hwange2,
                    .hwange3 {
                        padding-top: 40px;
                    }
                }

                color: #261B6C;
            }
        }
    }

    #fallback {
        margin: 60px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 30px;
            margin: 20px 0px;
        }

        p {
            color: #261B6C;
            font-size: 20px;

        }

        form {
            .tittle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;

                select {
                    width: 90%;
                    padding: 10px 20px;

                    option {
                        width: 100%;

                    }
                }

                // width: 100%;
                input {
                    width: 100%;
                    padding: 10px 20px;
                }


            }

            .fonNumber {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 60px;
                width: 100%;

                // width: 100%;
                input {
                    width: 100%;
                    padding: 10px 20px;
                }


            }
        }

    }
}

@media(max-width:1024px) {
    * {
        margin: 0;
        padding: 0;
        transition: all 3s ease-in-out;
        font-family: Avenir Lt Std;
    }

    #contact {
        margin: 0px 30px;
        position: relative;

        .contact-img {
            img {
                width: 100%;
            }
        }

        .conta {
            display: flex;
            align-items: center;
            background: linear-gradient(360deg, #000 20%, transparent);
            justify-content: space-between;
            padding: 0px 20px;
            position: absolute;
            bottom: 0px;
            width: 95.88%;

            h2 {
                font-weight: 800;
                font-family: Montserrat;
                color: #fff;
                font-size: 35px;
            }
        }
    }

    #factories {
        margin: 180px 30px;
        background: #F7F5E8;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 40px 80px;

        .harare,
        .bulawayo {
            img {
                width: 100%;
            }
        }

        .bwyo-text,
        .hre-text {
            h2 {
                font-weight: 800;
                font-family: Montserrat;
                color: #261B6C;
                font-size: 25px;
                margin: 10px 0px;
            }

            p {
                color: #261B6C;
                font-weight: 700;
            }

            .dials {
                p {
                    margin: 20px 0px;
                    color: #261B6C;
                    font-weight: 700;
                }
            }
        }
    }

    #job {
        background: #F7F5E8;

        .enqiure {
            margin: 40px 60px;
            padding: 50px 0px;

            img {
                width: 100%;
            }
        }

        .general {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 230px;
            margin: 0px 80px;
            padding: 20px 0px 60px 0px;

            a {
                color: #261B6C;
            }

            h2 {
                font-weight: 800;
                font-family: Montserrat;
                color: #261B6C;
                font-size: 25px;
                margin: 0px 0px;
            }
        }
    }

    #tables {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 30px;
            margin: 10px 0px;
        }

        table {
            margin: 30px;

            thead {
                tr {
                    th {
                        border-bottom: #261B6C 2px solid;
                        border-left: #261B6C 2px solid;
                        color: #261B6C;
                        font-size: 25px;
                        padding: 10px;

                    }

                    .depot {
                        border-left: none;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: #261B6C;
                        padding: 10px;

                    }

                    .hwange1,
                    .hwange2,
                    .hwange3 {
                        padding-top: 40px;
                    }
                }

                color: #261B6C;
            }
        }
    }

    #fallback {
        margin: 60px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 30px;
            margin: 20px 0px;
        }

        p {
            color: #261B6C;
            font-size: 20px;

        }

        form {
            .tittle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;

                select {
                    width: 90%;
                    padding: 10px 20px;

                    option {
                        width: 100%;

                    }
                }

                // width: 100%;
                input {
                    width: 100%;
                    padding: 10px 20px;
                }


            }

            .fonNumber {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 60px;
                width: 100%;

                // width: 100%;
                input {
                    width: 100%;
                    padding: 10px 20px;
                }


            }
        }

    }
}

@media(max-width:820px) {
    * {
        margin: 0;
        padding: 0;
        transition: all 3s ease-in-out;
        font-family: Avenir Lt Std;
    }

    #contact {
        margin: 0px 30px;
        position: relative;

        .contact-img {
            img {
                width: 100%;
            }
        }

        .conta {
            display: flex;
            align-items: center;
            background: linear-gradient(360deg, #000 20%, transparent);
            justify-content: space-between;
            padding: 0px 20px;
            position: absolute;
            bottom: 0px;
            width: 94.80%;

            h2 {
                font-weight: 700;
                font-family: Montserrat;
                color: #fff;
                font-size: 30px;
            }
        }
    }

    #factories {
        margin: 180px 30px;
        background: #F7F5E8;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 40px 80px;

        .harare,
        .bulawayo {
            img {
                width: 100%;
            }
        }

        .bwyo-text,
        .hre-text {
            h2 {
                font-weight: 700;
                font-family: Montserrat;
                color: #261B6C;
                font-size: 20px;
                margin: 10px 0px;
            }

            p {
                color: #261B6C;
                font-weight: 700;
                font-size: 15px;

                span {
                    display: none;
                }
            }

            .dials {
                p {
                    margin: 20px 0px;
                    color: #261B6C;
                    font-weight: 700;
                    font-size: 15px;
                }
            }
        }
    }

    #job {
        background: #F7F5E8;

        .enqiure {
            margin: 40px 60px;
            padding: 50px 0px;

            img {
                width: 100%;
            }
        }

        .general {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 230px;
            margin: 0px 80px;
            padding: 20px 0px 60px 0px;

            a {
                color: #261B6C;
            }

            h2 {
                font-weight: 700;
                font-family: Montserrat;
                color: #261B6C;
                font-size: 20px;
                margin: 0px 0px;
            }
        }
    }

    #tables {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 30px;
            margin: 5px 0px;
        }

        table {
            margin: 30px;

            thead {
                tr {
                    th {
                        border-bottom: #261B6C 1px solid;
                        border-left: #261B6C 1px solid;
                        color: #261B6C;
                        font-size: 25px;
                        padding: 5px;

                    }

                    .depot {
                        border-left: none;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: #261B6C;
                        padding: 10px;

                    }

                    .hwange1,
                    .hwange2,
                    .hwange3 {
                        padding-top: 40px;
                    }
                }

                color: #261B6C;
            }
        }
    }

    #fallback {
        margin: 60px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 30px;
            margin: 20px 0px;
        }

        p {
            color: #261B6C;
            font-size: 20px;

        }

        form {
            .tittle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;

                select {
                    width: 90%;
                    padding: 10px 20px;

                    option {
                        width: 100%;

                    }
                }

                // width: 100%;
                input {
                    width: 100%;
                    padding: 10px 20px;
                }


            }

            .fonNumber {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 60px;
                width: 100%;

                // width: 100%;
                input {
                    width: 100%;
                    padding: 10px 20px;
                }


            }
        }

    }
}
@media(max-width:768px){
    * {
        margin: 0;
        padding: 0;
        transition: all 3s ease-in-out;
        font-family: Avenir Lt Std;
    }
    
    #contact {
        margin: 0px 30px;
        position: relative;
    
        .contact-img {
            img {
                width: 100%;
            }
        }
    
        .conta {
            display: flex;
            align-items: center;
            background: linear-gradient(360deg, #000 20%, transparent);
            justify-content: space-between;
            padding: 0px 20px;
            position: absolute;
            bottom: 0px;
            width: 94.3%;
    
            h2 {
                font-weight: 800;
                font-family: Montserrat;
                color: #fff;
                font-size: 35px;
            }
        }
    }
    
    #factories {
        margin: 180px 30px;
        background: #F7F5E8;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 40px 80px;
    
        .harare,
        .bulawayo {
            img {
                width: 100%;
            }
        }
    
        .bwyo-text,
        .hre-text {
            h2 {
                font-weight: 800;
                font-family: Montserrat;
                color: #261B6C;
                font-size: 25px;
                margin: 10px 0px;
            }
    
            p {
                color: #261B6C;
                font-weight: 700;
            }
    
            .dials {
                p {
                    margin: 20px 0px;
                    color: #261B6C;
                    font-weight: 700;
                }
            }
        }
    }
    
    #job {
        background: #F7F5E8;
    
        .enqiure {
            margin: 40px 60px;
            padding: 50px 0px;
    
            img {
                width: 100%;
            }
        }
    
        .general {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 230px;
            margin: 0px 80px;
            padding: 20px 0px 60px 0px;
    
            a {
                color: #261B6C;
            }
    
            h2 {
                font-weight: 800;
                font-family: Montserrat;
                color: #261B6C;
                font-size: 16px;
                margin: 0px 0px;
                width: 100%;
                span{
                    display: none;
                }
            }
        }
    }
    
    #tables {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 30px;
            margin: 10px 0px;
        }
    
        table {
            margin: 30px;
    
            thead {
                tr {
                    th {
                        border-bottom: #261B6C 1px solid;
                        border-left: #261B6C 1px solid;
                        color: #261B6C;
                        font-size: 20px;
                        padding: 10px;
    
                    }
    
                    .depot {
                        border-left: none;
                    }
                }
            }
    
            tbody {
                tr {
                    td {
                        color: #261B6C;
                        padding: 5px;
    
                    }
    
                    .hwange1,
                    .hwange2,
                    .hwange3 {
                        padding-top: 40px;
                    }
                }
    
                color: #261B6C;
            }
        }
    }
    
    #fallback {
        margin: 60px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        h2 {
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 20px;
            margin: 20px 0px;
        }
    
        p {
            color: #261B6C;
            font-size: 20px;
    
        }
    
        form {
            .tittle {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
    
                select {
                    width: 50%;
                    padding: 10px 0px;
    
                    option {
                        width: 100%;
    
                    }
                }
    
            .your{
                width: 100%;
                input {
                    width: 50%;
                    padding: 10px 20px;
                }
            }
             
    
    
            }
    
            .fonNumber {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 60px;
                width: 100%;
    
                // width: 100%;
                .hone, .ail{
                    width: 100%;
                    input {
                        width: 50%;
                        padding: 10px 20px;
                    }
                }
            
    
    
            }
        }
    
    }   
}