* {
    margin: 0;
    padding: 0;
    transition: all 3s ease-in-out;
    font-family: Avenir Lt Std;
}
#product-range{
    margin: 0px 30px;
    position: relative;
    .range{
        .prod-img{
            img{
                width: 100%;
            }
        }
        .produce-text{
            display: flex;
            align-items: center;
            background: linear-gradient(360deg, #000 20%, transparent);
            justify-content: space-between;
            padding: 0px 20px;
            position: absolute;
            bottom: 0px;
            width: 96.88%;
            h2{
                font-weight: 800;
                font-family: Montserrat;
                color: #fff;
                font-size: 35px;
            } 
        }
    }
}
#our-produce{
    display: flex;align-items: center;justify-content: center;
    flex-direction: column;
    margin: 90px 30px;
    h2{
        font-weight: 800;
        font-family: Montserrat;
        color: #261B6C;
        font-size: 25px;
    } 
    .tabs-four{
        display: flex;align-items: center;justify-content: center;
        gap: 30px;
        border-bottom: #000 1px solid;
        margin-top: 30px;
        width: 100%;
        li {
            margin: 10px 0px;
            font-size: 20px;
            font-family: Montserrat;
            font-weight: 700;
            cursor: pointer;
            list-style: none;
            color: #AEA9C7;
        }
        .active-breado, .active-meatpies, .active-scones, .active-donuts{
            color: #261B6C;
            border-bottom: #B2904C 5px solid;
            padding: 0px 10px;

            li {
                color: #261B6C;
                padding: 10px 0px;

            }
        }
    }
    .contento{
        .forBread, .forMeatpies, .forScones, .forDonuts{
            display: none;
        }
        .active-forBread, .active-forMeatpies, .active-forScones, .active-forDonuts{
            display: block;
        }
.card-container{
    display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
        text-align: center;
        .Loafcard{
            background: #F7F5E8;
            margin: 90px 0px;
            padding: 20px;
.premium{
    margin-top: -80px;
}
            .loafa, .loaf{
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .loaftexto, .loaftext{
               display: flex;flex-direction: column;
               align-items: center;justify-content: center;
            h2{
                width: 70%;
                text-align: center;
                margin: 10px 0px;
                font-weight: 800;
                font-family: Montserrat;
                color: #261B6C;
            }
            p{
                color: #261B6C;
                margin: 10px 0px;
            }
            }
        }
        
}
    }
}
@media(max-width:1440px){
    * {
        margin: 0;
        padding: 0;
        transition: all 3s ease-in-out;
        font-family: Avenir Lt Std;
    }
    #product-range{
        margin: 0px 30px;
        position: relative;
        .range{
            .prod-img{
                img{
                    width: 100%;
                }
            }
            .produce-text{
                display: flex;
                align-items: center;
                background: linear-gradient(360deg, #000 20%, transparent);
                justify-content: space-between;
                padding: 0px 20px;
                position: absolute;
                bottom: 0px;
                width: 96.98%;
                h2{
                    font-weight: 800;
                    font-family: Montserrat;
                    color: #fff;
                    font-size: 35px;
                } 
            }
        }
    }
    #our-produce{
        display: flex;align-items: center;justify-content: center;
        flex-direction: column;
        margin: 90px 30px;
        h2{
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 25px;
        } 
        .tabs-four{
            display: flex;align-items: center;justify-content: center;
            gap: 30px;
            border-bottom: #000 1px solid;
            margin-top: 30px;
            width: 100%;
            li {
                margin: 10px 0px;
                font-size: 20px;
                font-family: Montserrat;
                font-weight: 700;
                cursor: pointer;
                list-style: none;
                color: #AEA9C7;
            }
            .active-breado, .active-meatpies, .active-scones, .active-donuts{
                color: #261B6C;
                border-bottom: #B2904C 5px solid;
                padding: 0px 10px;
    
                li {
                    color: #261B6C;
                    padding: 10px 0px;
    
                }
            }
        }
        .contento{
            .forBread, .forMeatpies, .forScones, .forDonuts{
                display: none;
            }
            .active-forBread, .active-forMeatpies, .active-forScones, .active-forDonuts{
                display: block;
            }
    .card-container{
        display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 40px;
            text-align: center;
            .Loafcard{
                background: #F7F5E8;
                margin: 90px 0px;
                padding: 20px;
    .premium{
        margin-top: -80px;
    }
                .loafa, .loaf{
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .loaftexto, .loaftext{
                   display: flex;flex-direction: column;
                   align-items: center;justify-content: center;
                h2{
                    width: 70%;
                    text-align: center;
                    margin: 10px 0px;
                    font-weight: 800;
                    font-family: Montserrat;
                    color: #261B6C;
                }
                p{
                    color: #261B6C;
                    margin: 10px 0px;
                }
                }
            }
            
    }
        }
    }
}
@media(max-width:1024px){
    * {
        margin: 0;
        padding: 0;
        transition: all 3s ease-in-out;
        font-family: Avenir Lt Std;
    }
    #product-range{
        margin: 0px 30px;
        position: relative;
        .range{
            .prod-img{
                img{
                    width: 100%;
                }
            }
            .produce-text{
                display: flex;
                align-items: center;
                background: linear-gradient(360deg, #000 20%, transparent);
                justify-content: space-between;
                padding: 0px 20px;
                position: absolute;
                bottom: 0px;
                width: 95.88%;
                h2{
                    font-weight: 800;
                    font-family: Montserrat;
                    color: #fff;
                    font-size: 35px;
                } 
            }
        }
    }
    #our-produce{
        display: flex;align-items: center;justify-content: center;
        flex-direction: column;
        margin: 90px 30px;
        h2{
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 25px;
        } 
        .tabs-four{
            display: flex;align-items: center;justify-content: center;
            gap: 30px;
            border-bottom: #000 1px solid;
            margin-top: 30px;
            width: 100%;
            li {
                margin: 10px 0px;
                font-size: 20px;
                font-family: Montserrat;
                font-weight: 700;
                cursor: pointer;
                list-style: none;
                color: #AEA9C7;
            }
            .active-breado, .active-meatpies, .active-scones, .active-donuts{
                color: #261B6C;
                border-bottom: #B2904C 5px solid;
                padding: 0px 10px;
    
                li {
                    color: #261B6C;
                    padding: 10px 0px;
    
                }
            }
        }
        .contento{
            .forBread, .forMeatpies, .forScones, .forDonuts{
                display: none;
            }
            .active-forBread, .active-forMeatpies, .active-forScones, .active-forDonuts{
                display: block;
            }
    .card-container{
        display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 40px;
            text-align: center;
            .Loafcard{
                background: #F7F5E8;
                margin: 90px 0px;
                padding: 20px;
    .premium{
        margin-top: -80px;
    }
                .loafa, .loaf{
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .loaftexto, .loaftext{
                   display: flex;flex-direction: column;
                   align-items: center;justify-content: center;
                h2{
                    width: 70%;
                    text-align: center;
                    margin: 10px 0px;
                    font-weight: 800;
                    font-family: Montserrat;
                    color: #261B6C;
                }
                p{
                    color: #261B6C;
                    margin: 10px 0px;
                }
                }
            }
            
    }
        }
    }
}
@media(max-width:820px){
    * {
        margin: 0;
        padding: 0;
        transition: all 3s ease-in-out;
        font-family: Avenir Lt Std;
    }
    #product-range{
        margin: 0px 30px;
        position: relative;
        .range{
            .prod-img{
                img{
                    width: 100%;
                }
            }
            .produce-text{
                display: flex;
                align-items: center;
                background: linear-gradient(360deg, #000 20%, transparent);
                justify-content: space-between;
                padding: 0px 20px;
                position: absolute;
                bottom: 0px;
                width: 94.80%;
                h2{
                    font-weight: 700;
                    font-family: Montserrat;
                    color: #fff;
                    font-size: 30px;
                } 
            }
        }
    }
    #our-produce{
        display: flex;align-items: center;justify-content: center;
        flex-direction: column;
        margin: 90px 30px;
        h2{
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 25px;
            
        } 
        .tabs-four{
            display: flex;align-items: center;justify-content: center;
            gap: 30px;
            border-bottom: #000 1px solid;
            margin-top: 30px;
            width: 100%;
            li {
                margin: 10px 0px;
                font-size: 20px;
                font-family: Montserrat;
                font-weight: 700;
                cursor: pointer;
                list-style: none;
                color: #AEA9C7;
            }
            .active-breado, .active-meatpies, .active-scones, .active-donuts{
                color: #261B6C;
                border-bottom: #B2904C 5px solid;
                padding: 0px 10px;
    
                li {
                    color: #261B6C;
                    padding: 10px 0px;
    
                }
            }
        }
        .contento{
            .forBread, .forMeatpies, .forScones, .forDonuts{
                display: none;
            }
            .active-forBread, .active-forMeatpies, .active-forScones, .active-forDonuts{
                display: block;
            }
    .card-container{
        display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 40px;
            text-align: center;
            .Loafcard{
                background: #F7F5E8;
                margin: 90px 0px;
                padding: 20px;
    .premium{
        margin-top: -80px;
    }
                .loafa, .loaf{
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .loaftexto, .loaftext{
                   display: flex;flex-direction: column;
                   align-items: center;justify-content: center;
                h2{
                    width: 100%;
                    text-align: center;
                    margin: 10px 0px;
                    font-weight: 700;
                    font-family: Montserrat;
                    color: #261B6C;
                    span{display: none;}
                }
                p{
                    color: #261B6C;
                    margin: 10px 0px;
                    span{display: none;}
                }
                }
            }
            
    }
        }
    }
}
@media(max-width:768px){
    
    * {
        margin: 0;
        padding: 0;
        transition: all 3s ease-in-out;
        font-family: Avenir Lt Std;
    }
    #product-range{
        margin: 0px 30px;
        position: relative;
        .range{
            .prod-img{
                img{
                    width: 100%;
                }
            }
            .produce-text{
                display: flex;
                align-items: center;
                background: linear-gradient(360deg, #000 20%, transparent);
                justify-content: space-between;
                padding: 0px 20px;
                position: absolute;
                bottom: 0px;
                width: 94.3%;
                h2{
                    font-weight: 800;
                    font-family: Montserrat;
                    color: #fff;
                    font-size: 25px;
                } 
            }
        }
    }
    #our-produce{
        display: flex;align-items: center;justify-content: center;
        flex-direction: column;
        margin: 90px 30px;
        h2{
            font-weight: 800;
            font-family: Montserrat;
            color: #261B6C;
            font-size: 25px;
        } 
        .tabs-four{
            display: flex;align-items: center;justify-content: center;
            gap: 30px;
            border-bottom: #000 1px solid;
            margin-top: 30px;
            width: 100%;
            li {
                margin: 10px 0px;
                font-size: 20px;
                font-family: Montserrat;
                font-weight: 700;
                cursor: pointer;
                list-style: none;
                color: #AEA9C7;
            }
            .active-breado, .active-meatpies, .active-scones, .active-donuts{
                color: #261B6C;
                border-bottom: #B2904C 5px solid;
                padding: 0px 10px;
    
                li {
                    color: #261B6C;
                    padding: 10px 0px;
    
                }
            }
        }
        .contento{
            .forBread, .forMeatpies, .forScones, .forDonuts{
                display: none;
            }
            .active-forBread, .active-forMeatpies, .active-forScones, .active-forDonuts{
                display: block;
            }
    .card-container{
        display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 40px;
            text-align: center;
            .Loafcard{
                background: #F7F5E8;
                margin: 90px 0px;
                padding: 20px;
    .premium{
        margin-top: -80px;
    }
                .loafa, .loaf{
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .loaftexto, .loaftext{
                   display: flex;flex-direction: column;
                   align-items: center;justify-content: center;
                h2{
                    width: 100%;
                    text-align: center;
                    margin: 10px 0px;
                    font-weight: 800;
                    font-family: Montserrat;
                    color: #261B6C;
font-size: 20px;
                }
                p{
                    color: #261B6C;
                    margin: 10px 0px;
                    font-size: 15px;
                }
                }
            }
            
    }
        }
    }
}