* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 3s all ease-in-out;
    font-family: Avenir lt std;
  }
  #community{
    margin: 0px 50px;
    position: relative;
    .paris{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textBox{
h1{
    font-family: Montserrat;
    color: #261B6C;
    font-weight: 900;
    font-size: 40px;
    width: 65%;
}
p{
    width: 85%;
    font-size: 18px;
    font-weight: 800;
    margin: 10px 0px;
    color: #261B6C;
}
        }
        .croissant{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            .four-pics{
                .overlay{
                    width: 274px;
                    height: 296px;
                    background: #7F7F7F;
                    position: absolute;
                    top: 0;
                    opacity: 30%;
                }
                img{
                    width: 100%;
                }
            }
            .five-pics{
                .overlay{
                    width: 274px;
                    height: 296px;
                    background: #7F7F7F;
                    position: absolute;
                    top: 320px;
                    opacity: 30%;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    #recipes{
        .content{
            .cardContainer{
                .pic-arrow{
                    display: flex; 
                    align-items: flex-end;
                      position: relative;
                  bottom: 40px;
                  left:300px;
                      img{
                        width: 10%;
                        background: #B2904C;
                        padding: 5px;
                        border-radius: 100px;
                      }
                    }
            }
        }
    }
  }